{% load static %}
<!DOCTYPE html>

<html>
    <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">

            <link rel="stylesheet" href=" {% static 'blog/Common_style.css' %} ">
    
            {% block head %}
            {% endblock head %}
    </head>

    <body>

        <div class="navigation">
            <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

            <label for="navi-toggle" class="navigation__button">
                <span class="navigation__icon">&nbsp;</span>
            </label>

            <div class="navigation__background">&nbsp;</div>
            
            <nav class="navigation__nav">
                <ul class="navigation__list">
                    {% if user.is_authenticated %}
                    <li class="navigation__item"><a href="{% url 'blog-home' %}" class="navigation__link">Home</a></li>
                    <li class="navigation__item"><a href="{% url 'user-profile' %}" class="navigation__link">Profile</a></li>
                    <li class="navigation__item"><a href="{% url 'user-blood_request' %}" class="navigation__link">Blood Request</a></li>
                    <li class="navigation__item"><a href="" class="navigation__link">Donar Details</a></li>
                    <li class="navigation__item"><a href="{% url 'user-logout' %}" class="navigation__link">Logout</a></li>
                    {% else %}
                    <li class="navigation__item"><a href="{% url 'blog-home' %}" class="navigation__link">Home</a></li>
                    <li class="navigation__item"><a href="{% url 'blog-about_us' %}" class="navigation__link">About Us</a></li>
                    <li class="navigation__item"><a href="{% url 'blog-blood_donation' %}" class="navigation__link">Blood Donation</a></li>
                    <li class="navigation__item"><a href="" class="navigation__link">Contact Us</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{message.tag}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

        {% block body %}
        {% endblock body %}

    </body>
</html>