{% extends 'blog/Common.html' %}
{% load static %}

        {% block head %}    
            <link rel="stylesheet" href=" {% static 'users/Blood_Request_Page_style.css' %} ">
            <link rel="shortcut icon" type="image/jpg" href=" {% static 'users/img/Background_image.jpg' %} ">
            <title>নিরাপদ রক্তের বন্ধন(নিরব) | NIrapod ROkter Bondhon(NIROB) - Blood Request</title>
        {% endblock head %}
    
    {% block body %}

        <main class="main">
            <header class="header">
                <div class="logo-box">
                    <a href="{% url 'blog-home' %}" class="btn logo"><img src=" {% static 'users/img/Logo_image.jpg' %} " alt="Logo" class="logo"></a>
                    <a href="{% url 'blog-home' %}" class="btn logo_text"><h2><b>নিরাপদ রক্তের বন্ধন(নিরব)<br>NIrapod ROkter Bondhon(NIROB)</b></h2></a>
                </div>
            </header>

            <section class="section-blood_request">
                <div class="u-center-text">
                    <h2 class="heading-secondary">
                        <a href="#post_a_blood_request" class="post_btn">Post a Blood Request</a>
                    </h2>   
                </div>


                <!--for creating post popup-->
                <div class="popup" id="post_a_blood_request">
                    <div class="popup__content">
                        <div class="popup-heading">
                            <div class="popup-heading_text">
                                <h2 class="popup-secondary">Post a Blood Request</h2>
                            </div>
                            <a href="" class="popup_close">&times;</a>
                        </div>
                                
                        <div class="post_pop">
                            <div class="post__form">
                                <form class="form" method="POST" action="{% url 'user-blood_request'%}">

                                {% csrf_token %}

                                    <div class="form__group">
                                        <input type="text" class="form__input"  placeholder="Post Title" name="posttitle" required>
                                        <label for="posttitle" class="form__label">Post Title</label>
                                    </div>
                                    
                        
                                    <div class="form__group">
                                        <select class="form__input" placeholder="Blood Group" name="bloodgroup" required>
                                            <option value="A+">A+</option>
                                            <option value="A-">A-</option>
                                            <option value="B+">B+</option>
                                            <option value="B-">B-</option>
                                            <option value="O+">O+</option>
                                            <option value="O-">O-</option>
                                            <option value="AB+">AB+</option>
                                            <option value="AB-">AB-</option>
                                            <option value="ABO">ABO</option>
                                        </select>
                                        <label for="bloodgroup" class="form__label">Blood Group</label>
                                    </div>

                                    <div class="form__group">
                                        <input type="number" class="form__input" min="1" placeholder="How Many Bags of Blood" name="howmanybagsofblood" required>
                                        <label for="howmanybagsofblood" class="form__label">How Many Bags of Blood</label>
                                    </div>

                                    <div class="form__group">
                                        <input type="text" class="form__input" placeholder="About Patient Disease" name="patientdisease" required>
                                        <label for="patientdisease" class="form__label">About Patient Disease</label>
                                    </div>

                                    <div class="form__group">
                                        <input type="text" class="form__input"  placeholder="Admitted Hospital Name" name="admittedhospitalname" required>
                                        <label for="admittedhospitalname" class="form__label">Admitted Hospital Name</label>
                                    </div>
                        
                                    <div class="form__group">
                                        <input type="date" class="form__input"  placeholder="Deadline Date" name="deadlinedate" required>
                                        <label for="deadlinedate" class="form__label">Deadline Date</label>
                                    </div>

                                    <div class="form__group">
                                        <input type="time" class="form__input"  placeholder="Deadline Time" name="deadlinetime" required>
                                        <label for="deadlinetime" class="form__label">Deadline Time</label>
                                    </div>

                                    <div class="form__group">
                                        <select class="form__input" spellcheck="true" placeholder="Current Location" name="currentlocation" required>
                                            <option value="Bagerhat">Bagerhat</option>
                                            <option value="Bandarban">Bandarban</option>
                                            <option value="Barguna">Barguna</option>
                                            <option value="Barisal">Barisal</option>
                                            <option value="Bhola">Bhola</option>
                                            <option value="Bogra">Bogra</option>
                                            <option value="Brahmanbaria">Brahmanbaria</option>
                                            <option value="Chandpur">Chandpur</option>
                                            <option value="Chapainawabganj">Chapainawabganj</option>
                                            <option value="Chittagong">Chittagong</option>
                                            <option value="Chuadanga">Chuadanga</option>
                                            <option value="Comilla">Comilla</option>
                                            <option value="Cox's Bazar">Cox's Bazar</option>
                                            <option value="Dhaka">Dhaka</option>
                                            <option value="Dinajpur">Dinajpur</option>
                                            <option value="Faridpur">Faridpur</option>
                                            <option value="Feni">Feni</option>
                                            <option value="Gaibandha">Gaibandha</option>
                                            <option value="Gazipur">Gazipur</option>
                                            <option value="Gopalganj">Gopalganj</option>
                                            <option value="Habiganj">Habiganj</option>
                                            <option value="Jamalpur">Jamalpur</option>
                                            <option value="Jessore">Jessore</option>
                                            <option value="Jhalokati">Jhalokati</option>
                                            <option value="Jhenaidah">Jhenaidah</option>
                                            <option value="Joypurhat">Joypurhat</option>
                                            <option value="Khagrachhari">Khagrachhari</option>
                                            <option value="Khulna">Khulna</option>
                                            <option value="Kishoreganj">Kishoreganj</option>
                                            <option value="Kurigram">Kurigram</option>
                                            <option value="Kushtia">Kushtia</option>
                                            <option value="Lakshmipur">Lakshmipur</option>
                                            <option value="Lalmonirhat">Lalmonirhat</option>
                                            <option value="Madaripur">Madaripur</option>
                                            <option value="Magura">Magura</option>
                                            <option value="Manikganj">Manikganj</option>
                                            <option value="Meherpur">Meherpur</option>
                                            <option value="Moulvibazar">Moulvibazar</option>
                                            <option value="Munshiganj">Munshiganj</option>
                                            <option value="Mymensingh">Mymensingh</option>
                                            <option value="Naogaon">Naogaon</option>
                                            <option value="Narail">Narail</option>
                                            <option value="Narayanganj">Narayanganj</option>
                                            <option value="Narsingdi">Narsingdi</option>
                                            <option value="Natore">Natore</option>
                                            <option value="Netrokona">Netrokona</option>
                                            <option value="Nilphamari">Nilphamari</option>
                                            <option value="Noakhali">Noakhali</option>
                                            <option value="Pabna">Pabna</option>
                                            <option value="Panchagarh">Panchagarh</option>
                                            <option value="Patuakhali">Patuakhali</option>
                                            <option value="Pirojpur">Pirojpur</option>
                                            <option value="Rajbari">Rajbari</option>
                                            <option value="Rajshahi">Rajshahi</option>
                                            <option value="Rangamati">Rangamati</option>
                                            <option value="Rangpur">Rangpur</option>
                                            <option value="Satkhira">Satkhira</option>
                                            <option value="Shariatpur">Shariatpur</option>
                                            <option value="Sherpur">Sherpur</option>
                                            <option value="Sirajganj">Sirajganj</option>
                                            <option value="Sunamganj">Sunamganj</option>
                                            <option value="Sylhet">Sylhet</option>
                                            <option value="Tangail">Tangail</option>
                                            <option value="Thakurgaon">Thakurgaon</option>
                                        </select>
                                        <label for="currentlocation" class="form__label">Current Location</label>
                                    </div>

                                    <div class="form__group">
                                        <input type="number" class="form__input" min="1100000000" max="1999999999"  placeholder="Phone Number" name="phonenumber" required>
                                        <label for="phonenumber" class="form__label">Phone Number</label>
                                    </div>

                                    <div class="form__group">
                                        <select class="form__input" spellcheck="true" placeholder="Relation with RUETian's" name="relationwithruetians" required>
                                            <option value="Father">Father</option>
                                            <option value="Mother">Mother</option>
                                            <option value="Sister">Sister</option>
                                            <option value="Brother">Brother</option>
                                            <option value="Wife">Wife</option>
                                            <option value="Friend">Friend</option>
                                            <option value="Grandfather">Grandfather</option>
                                            <option value="Grandmother">Grandmother</option>
                                            <option value="Uncle">Uncle</option>
                                            <option value="Aunt">Aunt</option>
                                            <option value="Cousin">Cousin</option>
                                        </select>
                                        <label for="relationwithruetians" class="form__label">Relation with RUETian's</label>
                                    </div>

                                    <div class="form_group">
                                        <button class="butn butn--green" type="submit">Post</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="u-center-text_post">
                    <span class="post_heading">Recent Posts</span>
                </div>


                <!--for post show-->
                {% for post in posts %}
                <div class="row">
                    <div class="post">
                        <div class="post_header">
                            
                            <div class="post_title">
                                <a href="#post/{{ post.id }}" class="post_title_text">{{ post.posttitle }}</a>
                            </div>

                            <div class="author_date">
                            {% if post.user == user %}
                                By <a href="{% url 'user-profile' %}" class="author">{{ post.user }}</a>
                            {% else %}
                                By <a href="#profile/{{ post.user }}" class="author">{{ post.user }}</a>
                            {% endif %}
                                On <span class="date">{{ post.posteddatetime }}</span>
                            </div>
                        </div>
                        <div class="post_body">
                            <div class="post_attr">
                                <span class="post_attr_name">Relation with RUETian : </span>
                                <span class="post_attr_data">{{ post.relationwithruetians }}</span>
                            </div>
                            <div class="post_attr">
                                <span class="post_attr_name">Needed Blood Group : </span>
                                <span class="post_attr_data">{{ post.bloodgroup }}</span>
                            </div>
                            <div class="post_attr">
                                <span class="post_attr_name">Needed Bags of Blood : </span>
                                <span class="post_attr_data">{{ post.howmanybagsofblood }}</span>
                            </div>
                            <div class="post_attr">
                                <span class="post_attr_name">Location : </span>
                                <span class="post_attr_data">{{ post.currentlocation }}</span>
                            </div>
                            <a href="#post/{{ post.id }}" class="post_details">Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}



                <!--for post details show popup-->
                {% for post in posts %}
                <div class="post_popup" id="post/{{ post.id }}">
                    <div class="post_popup_content">

                        <div class="post_header">
                            <div class="post_title">
                                <span class="post_title_text">{{ post.posttitle }}</span>
                            </div>
                            <div class="author_date">
                                By <span class="author">{{ post.user }}</span>
                                On <span class="date">{{ post.posteddatetime }}</span>
                            </div>
                            <a href="#/" class="post_popup_close">&times;</a>
                        </div>

                        <div class="post_body">
                            <div class="post_attr">
                                <span class="post_attr_name">Relation with RUETian : </span>
                                <span class="post_attr_data">{{ post.relationwithruetians }}</span>
                            </div>
                            <div class="post_attr">
                                <span class="post_attr_name">About Patient Disease : </span>
                                <span class="post_attr_data">{{ post.patientdisease }}</span>
                            </div>
                            <div class="post_attr">
                                <span class="post_attr_name">Needed Blood Group : </span>
                                <span class="post_attr_data">{{ post.bloodgroup }}</span>
                            </div>
                            <div class="post_attr">
                                <span class="post_attr_name">Needed Bags of Blood : </span>
                                <span class="post_attr_data">{{ post.howmanybagsofblood }}</span>
                            </div>
                            <div class="post_attr">
                                <span class="post_attr_name">Admitted Hospital Name : </span>
                                <span class="post_attr_data">{{ post.admittedhospitalname }}</span>
                            </div>
                            <div class="post_attr">
                                <span class="post_attr_name">Location : </span>
                                <span class="post_attr_data">{{ post.currentlocation }}</span>
                            </div>
                            <div class="post_attr">
                                <span class="post_attr_name">Phone Number : </span>
                                <span class="post_attr_data">0{{ post.phonenumber }}</span>
                            </div>
                            <div class="post_attr">
                                <span class="post_attr_name">Deadline : </span>
                                <span class="post_attr_data">{{ post.deadlinedate }}/ {{ post.deadlinetime }}</span>
                            </div>
                        </div>
                        {% if post.user == user %}
                        <div class="update_delete">
                            <a href="/post/{{  post.id }}/update" class="button">Update</a>
                            <a href="/post/{{  post.id }}/delete" class="button">Delete</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}


                <!--for profile popup-->
                {% for profile in profiles %}
                    <div class="post_popup" id="profile/{{ profile.user }}">
                        <div class="post_popup_content">

                            <div class="post_header">
                                <div class="profile_title">
                                    <span class="post_title_text">{{ profile.user }}'s Profile</span>
                                </div>
                                <a href="" class="post_popup_close">&times;</a>
                            </div>

                            <div class="post_body">
                                <div class="post_attr">
                                    <span class="post_attr_name">Gender : </span>
                                    <span class="post_attr_data">{{ profile.gender }}</span>
                                </div>
                                <div class="post_attr">
                                    <span class="post_attr_name">Roll No : </span>
                                    <span class="post_attr_data">{{ profile.rollno }}</span>
                                </div>
                                <div class="post_attr">
                                    <span class="post_attr_name">Email : </span>
                                    <span class="post_attr_data">{{ profile.user.email }}</span>
                                </div>
                                <div class="post_attr">
                                    <span class="post_attr_name">Blood Group : </span>
                                    <span class="post_attr_data">{{ profile.bloodgroup }}</span>
                                </div>
                                <div class="post_attr">
                                    <span class="post_attr_name">Last Blood Donation Date : </span>
                                    <span class="post_attr_data">{{ profile.lastblooddonationdate }}</span>
                                </div>
                                <div class="post_attr">
                                    <span class="post_attr_name">Phone Number : </span>
                                    <span class="post_attr_data">0{{ profile.phonenumber }}</span>
                                </div>
                                <div class="post_attr">
                                    <span class="post_attr_name">Current Location : </span>
                                    <span class="post_attr_data">{{ profile.currentlocation }}</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                {% endfor %}


            </section>

        </main>
    {% endblock body %}
   