{% extends 'blog/Common.html' %}
{% load static %}

    {% block head %}
        <title>নিরাপদ রক্তের বন্ধন(নিরব) | NIrapod ROkter Bondhon(NIROB) - Login</title>
        <link rel="shortcut icon" type="image/jpg" href=" {% static 'blog/img/Background_image.jpg' %} ">
        <link rel="stylesheet" href=" {% static 'users\Login_Page_style.css' %} ">
    {% endblock head %}

{% block body %}

    <section class="section-login">
        <div class="row">
            <div class="login">
                <div class="login__form">

                    <div class="login-heading">
                        <h2 class="login-heading_text">
                            Login Box
                        </h2>
                    </div>

                    {% if error %}
                        {{error}}
                    {% endif %}

                    <form class="form" method="POST">

                        {% csrf_token %}

                        <div class="form__group">
                            <input type="text" class="form__input"  placeholder="UserName" name="username" required>
                            <label for="username" class="form__label">UserName</label>
                        </div>
    
                        <div class="form__group">
                            <input type="password" class="form__input"  placeholder="Password" name="password" required>
                            <label for="password" class="form__label">Password</label>
                        </div>

                        <div class="forget_text">
                            <a style="text-decoration: none;color: red;font-size: 1.5rem;font-weight: 100;" href="">Forget Password?</a>
                        </div>

                        <div class="form_group">
                            <button class="btn btn--green" type="submit">Login</button>
                        </div>

                        <div class="login-tail">
                            <h3 class="login-checking-text">
                                New Here?<br>
                                <a href="{% url 'user-register' %}" class="register_text">Register</a>
                            </h3>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock body %}