{% extends 'blog/Common.html' %}
{% load static %}

    {% block head %}
    
        <title>নিরাপদ রক্তের বন্ধন(নিরব) | NIrapod ROkter Bondhon(NIROB) - Registration</title>
        <link rel="shortcut icon" type="image/jpg" href=" {% static 'users/img/Background_image.jpg' %} ">
        <link rel="stylesheet" href=" {% static 'users\Register_Page_style.css' %} ">
    {% endblock head %}


{% block body %}

    <section class="section-register">
        <div class="row">
            <div class="register">
                <div class="register__form">

                    <div class="register-heading">
                        <h2 class="register-heading_text">
                            Registration Form
                        </h2>
                        <h3 class="register-checking-text">
                            Already a Member?<br>
                            <a href="{% url 'user-login' %}" class="login_text">Login</a>
                        </h3>
                    </div>

                    {% if error %}
                        {{error}}
                    {% endif %}

                    <form class="form" method="POST" action= {% url 'user-register' %}>
                        
                        {% csrf_token %}

                        <div class="form__group">
                            <input type="text" class="form__input"  placeholder="UserName" name="username" required>
                            <label for="username" class="form__label">UserName</label>
                        </div>

                        <div class="form__group">
                            <select class="form__input" placeholder="Gender" name="gender" required>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Others">Others</option>
                            </select>
                            <label for="gender" class="form__label">Gender</label>
                        </div>

                        <div class="form__group">
                            <input type="number" class="form__input" min="30000" max="1900000" placeholder="Roll No." name="rollno" required>
                            <label for="rollno" class="form__label">Roll No.</label>
                        </div>

                        <div class="form__group">
                            <input type="email" class="form__input"  placeholder="Email Address" name="email" required>
                            <label for="email" class="form__label">Email Address</label>
                        </div>

                        <div class="form__group">
                            <input type="password" class="form__input" minlength="8" placeholder="Password" name="password1" required>
                            <label for="password1" class="form__label">Password</label>
                        </div>

                        <div class="form__group">
                            <input type="password" class="form__input" minlength="8" placeholder="Password(Confirm)" name="password2" required>
                            <label for="password2" class="form__label">Password(Confirm)</label>
                        </div>

                        <div class="form__group">
                            <select class="form__input" placeholder="Blood Group" name="bloodgroup" required>
                                <option value="A+">A+</option>
                                <option value="A-">A-</option>
                                <option value="B+">B+</option>
                                <option value="B-">B-</option>
                                <option value="O+">O+</option>
                                <option value="O-">O-</option>
                                <option value="AB+">AB+</option>
                                <option value="AB-">AB-</option>
                                <option value="ABO">ABO</option>
                            </select>
                            <label for="bloodgroup" class="form__label">Blood Group</label>
                        </div>

                        <div class="form__group">
                            <input type="date" class="form__input"  placeholder="Last Blood Donation Date" name="lastblooddonationdate">
                            <label for="lastblooddonationdate" class="form__label">Last Blood Donation Date</label>
                        </div>

                        <div class="form__group">
                            <input type="number" class="form__input" min="1100000000" max="1999999999" placeholder="Phone Number" name="phonenumber" required>
                            <label for="phonenumber" class="form__label">Phone Number</label>
                        </div>

                        <div class="form__group">
                                <select class="form__input" spellcheck="true" placeholder="Current Location" name="currentlocation" required>
                                    <option value="Bagerhat">Bagerhat</option>
                                    <option value="Bandarban">Bandarban</option>
                                    <option value="Barguna">Barguna</option>
                                    <option value="Barisal">Barisal</option>
                                    <option value="Bhola">Bhola</option>
                                    <option value="Bogra">Bogra</option>
                                    <option value="Brahmanbaria">Brahmanbaria</option>
                                    <option value="Chandpur">Chandpur</option>
                                    <option value="Chapainawabganj">Chapainawabganj</option>
                                    <option value="Chittagong">Chittagong</option>
                                    <option value="Chuadanga">Chuadanga</option>
                                    <option value="Comilla">Comilla</option>
                                    <option value="Cox's Bazar">Cox's Bazar</option>
                                    <option value="Dhaka">Dhaka</option>
                                    <option value="Dinajpur">Dinajpur</option>
                                    <option value="Faridpur">Faridpur</option>
                                    <option value="Feni">Feni</option>
                                    <option value="Gaibandha">Gaibandha</option>
                                    <option value="Gazipur">Gazipur</option>
                                    <option value="Gopalganj">Gopalganj</option>
                                    <option value="Habiganj">Habiganj</option>
                                    <option value="Jamalpur">Jamalpur</option>
                                    <option value="Jessore">Jessore</option>
                                    <option value="Jhalokati">Jhalokati</option>
                                    <option value="Jhenaidah">Jhenaidah</option>
                                    <option value="Joypurhat">Joypurhat</option>
                                    <option value="Khagrachhari">Khagrachhari</option>
                                    <option value="Khulna">Khulna</option>
                                    <option value="Kishoreganj">Kishoreganj</option>
                                    <option value="Kurigram">Kurigram</option>
                                    <option value="Kushtia">Kushtia</option>
                                    <option value="Lakshmipur">Lakshmipur</option>
                                    <option value="Lalmonirhat">Lalmonirhat</option>
                                    <option value="Madaripur">Madaripur</option>
                                    <option value="Magura">Magura</option>
                                    <option value="Manikganj">Manikganj</option>
                                    <option value="Meherpur">Meherpur</option>
                                    <option value="Moulvibazar">Moulvibazar</option>
                                    <option value="Munshiganj">Munshiganj</option>
                                    <option value="Mymensingh">Mymensingh</option>
                                    <option value="Naogaon">Naogaon</option>
                                    <option value="Narail">Narail</option>
                                    <option value="Narayanganj">Narayanganj</option>
                                    <option value="Narsingdi">Narsingdi</option>
                                    <option value="Natore">Natore</option>
                                    <option value="Netrokona">Netrokona</option>
                                    <option value="Nilphamari">Nilphamari</option>
                                    <option value="Noakhali">Noakhali</option>
                                    <option value="Pabna">Pabna</option>
                                    <option value="Panchagarh">Panchagarh</option>
                                    <option value="Patuakhali">Patuakhali</option>
                                    <option value="Pirojpur">Pirojpur</option>
                                    <option value="Rajbari">Rajbari</option>
                                    <option value="Rajshahi">Rajshahi</option>
                                    <option value="Rangamati">Rangamati</option>
                                    <option value="Rangpur">Rangpur</option>
                                    <option value="Satkhira">Satkhira</option>
                                    <option value="Shariatpur">Shariatpur</option>
                                    <option value="Sherpur">Sherpur</option>
                                    <option value="Sirajganj">Sirajganj</option>
                                    <option value="Sunamganj">Sunamganj</option>
                                    <option value="Sylhet">Sylhet</option>
                                    <option value="Tangail">Tangail</option>
                                    <option value="Thakurgaon">Thakurgaon</option>
                                </select>
                                <label for="currentlocation" class="form__label">Current Location</label>
                            </div>

                        <div class="form_group">
                            <button class="btn btn--green" type="Submit" value="Register">Register</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </section>


{% endblock body %}