.section-login{
    height: 97vh;
    padding: 5rem;
    background-image: linear-gradient(to right bottom, #bb2f85da, #ad0d7ddc), url("img/blood_background_login.jpg");
    background-size: 100%;
}



.login{
    position: absolute;
    background-image: linear-gradient(rgba(255, 255, 255, 0.795), rgba(255, 255, 255, 0.904));
    border-radius: 1rem;
    height: 45rem;
    width: 40rem;
    left: 35%;
    top: 15%;
}

.login__form{
    padding: 3rem;

}

.login-heading{
    margin: 2rem;
    text-align: center;
}

.login-heading_text{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    letter-spacing: .2rem;
    color: #ad0d7ddc;
    margin-bottom: 2rem;
}


.register_text{
    text-decoration: none;
    color: rgb(102, 6, 65);
}

.form__group{
    margin-bottom: 0.5rem;
    margin-left: 10%;
}

.form__input{
    font-size: 1.5rem;
    color: black;
    padding: 1.5rem 2rem;
    background-color: #bb2f85da;
    border: none;
    width: 90%;
    display: block;
    margin-bottom: 1rem;

}

.form__input:focus{
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.103);
    border-bottom: 3px solid #11b302e7;
}

.form__input:focus:invalid{
    border-bottom: 3px solid #a80808e7;
}

.form__input::-webkit-input-placeholder{
    color: #1e1e1f;
}

.form__label{
    font-size: 1.5rem;
    margin-left: 2rem;
}


.form__input:placeholder-shown + .form__label{
    opacity: 0;
    visibility: hidden;
}




.btn,
.btn:link,
.btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    left: 33%;
    margin-top: 1rem;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    position: relative;
    border: none;
    color: black;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.199);
}

.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn:active,
.btn:focus{
    outline: none;
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.199);
}


.login-tail{
    margin: 2rem;
    text-align: center;
}

.login-checking-text{
    padding-left: 1.5rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    display: inline-block;
    letter-spacing: .1rem;
    color: #c00b66;
}